<a href="https://colab.research.google.com/github/Sarthak2608/Competitive-Programming/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import numpy as np
#Handling tabular data
#CSV (comma Seperate file)
dic={
    "Height":np.random.randint(1,10,5),
    "Weight":np.random.randint(20,30,5),
    "Power":np.random.randint(1,200,5)
}
print(dic)

{'Height': array([8, 3, 6, 1, 3]), 'Weight': array([21, 26, 27, 21, 27]), 'Power': array([ 41, 155,  34,  77,  99])}

In [0]:
import pandas as pd

In [8]:
df=pd.DataFrame(dic)
print(df)

   Height  Weight  Power
0       8      21     41
1       3      26    155
2       6      27     34
3       1      21     77
4       3      27     99

In [11]:
df.head(n=2)

   Height  Weight  Power
0       8      21     41
1       3      26    155

In [12]:
df.columns

Index(['Height', 'Weight', 'Power'], dtype='object')

In [0]:
#create a Csv File
df.to_csv('Data_panda_test.csv')

In [15]:
#Read a dataFrame
dfr=pd.read_csv('Data_panda_test.csv')
dfr.head(n=2)

   Unnamed: 0  Height  Weight  Power
0           0       8      21     41
1           1       3      26    155

In [19]:
dfr.drop(columns=["Unnamed: 0"])
dfr.shape

(5, 4)